/* Write your CSS here */
.app-container {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
}
.events-container {
  color: white;
  background-color: #323f4b;
  padding: 10px 5% 30px 5%;
  overflow-y: auto;
}

@media (max-width: 771px) {
  .events-container {
    width: 100%;
  }
}
@media (min-width: 772px) {
  .app-container {
    display: flex;
    overflow-y: auto;
  }
  .events-container {
    width: 60%;
  }
}

.event-list-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}
